a {
  text-decoration: none;
}
.sub-item-link:link {
  color: #458588;
}
.sub-item-link:visited {
  color: #b16286;
}
.sub-item-link:hover {
  color: #98971a;
}
.sub-item-link:focus {
  outline: 2px solid #d79921;
}
.sub-item-link:active {
  color: #cc241d;
}